

.navbar{
    position: relative;
}
.logo{
    height: 80px;
}
.card{
    margin-bottom: 10px;
    position: relative;
    background-color: gray;
    font-family: serif;
    text-align: center;
    font-size: large;
    width: 94pc;
    margin-left: 10px;
    
}
.cont{
    margin-left: 5px;
    width: 94pc;
    background-color: black;
    text-align: center;
    color: antiquewhite;
    
}
.container{
    text-align: center;
}
.card1{
    background-color: blanchedalmond;
    text-align: center;
}